<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mama Shiva</title>

    <% for (var i = 0; i < cssList.length; i++) { %>
      <link rel="stylesheet" href="<%= cssList[i] %>">
    <% } %>
    
  </head>
  <body>
    <!-- Navbar do site -->
    <div class="navbar container">
      <img class="navbar--logo" src="/img/logo.svg" alt="Logo do restaurante Mama Shiva">
      <img class="navbar--menu" src="/img/hamburger_menu.svg" alt="Menu de opções">
      </div>
    </div>

    <!-- Hero -->
    <div class="hero container">
      <div class="hero--message">
        <div class="hero--message-main text-bold">Dois mundos, <span>uma experiência gastronômica</span></div>
        <div class="hero--message-secondary">Conheça o nosso incrível cardápio de fusão itálico-indiano</div>
      </div>
      <!-- <div class="hero--image">oii</div> -->
      <img class="hero--image" src="/img/hero_image.png" alt="Um prato com comidas italianas e indianas">
      <div class="hero--cta container text-bold"><div class="hero--cta-text">Veja o cardápio</div></div>
    </div>
  </body>

  <!-- Endereço abaixo do fold -->
  <div class="endereco-fold container">
    <span>Rua das Acácias, 123</span>
    <span>Bairro Jardim das Flores</span>
    <span>Recife - PE</span>
  </div>

  <!-- Beneficios -->
  <div class="beneficios-container container">
    <div class="beneficios--main">
      <div class="beneficio container">
        <img class="beneficio--image" src="/img/hero_image.png" alt="Um prato com comidas italianas e indianas">
        <div class="beneficio--titulo text-bold">Uma viagem pelas massas e especiarias</div>
        <div class="beneficio--texto">Com ingredientes de qualidade e cuidadosamente selecionados, nossos pratos combinam o melhor da culinária italiana e indiana, criando uma deliciosa viagem pelas massas e especiarias que irá encantar seu paladar. Experimente agora e embarque nessa jornada gastronômica única.</div>
      </div>
    </div>
    <div class="beneficios--slider">
      <div class="beneficios--slider-marker" data-active="true" nav="Opção numero 1 do carrossel de beneficios do restaurante"></div>
      <div class="beneficios--slider-marker" data-active="false" nav="Opção numero 2 do carrossel de beneficios do restaurante"></div>
      <div class="beneficios--slider-marker" data-active="false" nav="Opção numero 3 do carrossel de beneficios do restaurante"></div>
      <div class="beneficios--slider-marker" data-active="false" nav="Opção numero 4 do carrossel de beneficios do restaurante"></div>
      <div class="beneficios--slider-marker" data-active="false" nav="Opção numero 5 do carrossel de beneficios do restaurante"></div>
    </div>
  </div>
</html>
