<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mama Shiva</title>

    <% for (var i = 0; i < cssList.length; i++) { %>
      <link rel="stylesheet" href="<%= cssList[i] %>">
    <% } %>
    
  </head>
  <body>
    <!-- Navbar do site -->
    <div class="navbar container">
      <img class="navbar--logo" src="/img/logo.svg" alt="Logo do restaurante Mama Shiva">
      <img class="navbar--menu" src="/img/hamburger_menu.svg" alt="Menu de opções">
      </div>
    </div>

    <!-- Hero -->
    <div class="hero container">
      <div class="hero--message">
        <div>Dois mundos, <span>uma experiência gastronômica</span></div>
        <div>Conheça o nosso incrível cardápio itálico-indiano</div>
      </div>
      <div class="hero--image">
        <img class="navbar--logo" src="/img/hero_image.png" alt="Imagem ilustrativa do restaurante">
      </div>
      <div class="hero--cta">Veja o cardápio</div>
    </div>
  </body>
</html>
