<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mama Shiva</title>

  <% for (var i = 0; i < cssList.length; i++) { %>
  <link rel="stylesheet" href="<%= cssList[i] %>">
  <% } %>

</head>

<body>
  <div class="navbar">
    <img class="navbar--logo" src="img/logo.svg" alt="Logo do Mama Shiva">
    <div class="navbar--navigation">
      <img class="navbar--hamburger" src="/img/hamburger_menu.png" alt="Menu de navegação">
      <div class="navbar--navigation-links"></div>
    </div>
  </div>

  <div class="hero">
    <div class="hero--content ">
      <div class="hero--headline">Um encontro entre sabores, tradições e culturas</div>
      <div class="hero--message">Viaje pela Índia e Itália através do nosso renomado cardápio de fusão</div>
      <div class="hero--cta">
        <button class="hero--button">Faça sua reserva</button>
        <span> ou </span>
        <button class="hero--button">Conheça o cardápio</button>
      </div>
      <div class="hero--social-proof">
        <img class="hero--social-proof-image" src="/img/michelin.png" alt="Três estrelas de Michelin">
        <div class="hero--social-proof-text">O único restaurante nota máxima Michelin do estado</div>
      </div>
    </div>
    <img class="hero--image" src="/img/hero_image.png" alt="Uma pessoa preparando uma massa, com ingredientes ao fundo">
  </div>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ipsum illum veritatis sapiente nesciunt officia architecto molestias provident. Dolorem, ad! Voluptate laudantium, ipsum laboriosam illum vero, numquam voluptatum vitae reprehenderit blanditiis aspernatur nobis doloribus quos dignissimos mollitia perspiciatis maxime omnis possimus molestiae sequi iusto pariatur magni. Sed, maxime alias. Eveniet labore nemo rem eaque, quas, commodi officia atque esse vel cupiditate molestiae? Provident deleniti aliquid laborum delectus quas quisquam eum et molestiae sed dolorum harum perferendis laudantium ea quibusdam debitis eveniet minus, nesciunt recusandae quam! Minus, placeat in eius voluptatem illo velit doloribus veniam accusantium fugit, saepe laboriosam debitis aperiam sequi dignissimos soluta odio labore earum fugiat. Ipsa quos architecto, eum, ea aut alias minus dolor aliquid hic officiis ullam saepe magni atque recusandae, sequi quo quia ipsum debitis fugiat. Praesentium iste tempora a alias laborum, fugiat cupiditate ipsa nesciunt corrupti voluptatem porro recusandae. Autem itaque unde, aspernatur atque, non libero illo ut cumque adipisci nisi quo obcaecati provident assumenda consequatur laborum velit minima est! Ea, veniam? Impedit iste modi accusantium amet, sit nulla esse neque rerum autem, deserunt beatae. Id voluptatum nihil praesentium enim sit perferendis assumenda aliquam corporis explicabo velit. Commodi quisquam rerum impedit dignissimos harum. Quia voluptatum, eos quibusdam ea porro distinctio accusamus, deleniti vitae repudiandae ab voluptates illo, doloremque quos quasi dicta expedita facere dolorem fuga dolores et quisquam placeat nulla! Soluta sed non adipisci veniam sunt libero suscipit similique cupiditate earum voluptates culpa eaque, accusantium consectetur amet tenetur, odit consequatur, repellat maxime. Quo totam vero autem repellendus eligendi? Praesentium possimus dolorem, rerum, fuga natus assumenda repudiandae magni dolorum perferendis esse magnam voluptate necessitatibus commodi harum. Omnis consequatur perspiciatis est dolore et quia sed beatae laudantium, tempore repellat accusamus? Cum molestiae eos numquam. Exercitationem error minima, perferendis beatae cumque maxime vero inventore accusantium rerum nobis laboriosam.

</body>

</html>