<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mama Shiva</title>

  <% for (var i = 0; i < cssList.length; i++) { %>
  <link rel="stylesheet" href="<%= cssList[i] %>">
  <% } %>

</head>

<body>
  <div class="navbar">
    <img class="navbar--logo" src="img/logo.svg" alt="Logo do Mama Shiva">
    <div class="navbar--navigation">
      <img class="navbar--hamburger" src="/img/icon_hamburger_menu.png" alt="Menu de navegação">
      <div class="navbar--navigation-links"></div>
    </div>
  </div>

  <div class="hero">
    <div class="hero--content section">
      <div class="hero--headline">Um encontro entre sabores, tradições e culturas</div>
      <div class="hero--message">Viaje pela Índia e Itália através do nosso renomado cardápio de fusão</div>
      <div class="hero--cta">
        <button class="hero--button">Faça sua reserva</button>
        <span> ou </span>
        <button class="hero--button">Conheça o cardápio</button>
      </div>
      <div class="hero--social-proof">
        <img class="hero--social-proof-image" src="/img/michelin.png" alt="Três estrelas de Michelin">
        <div class="hero--social-proof-text">O único restaurante nota máxima Michelin do estado</div>
      </div>
    </div>
    <img class="hero--image" src="/img/hero_image.png" alt="Uma pessoa preparando uma massa, com ingredientes ao fundo">
  </div>

  <div class="benefits section">
    <div class="benefits--texts">
      <div class="benefits--header section-header">Por que o Mama Shiva?</div>
      <div class="benefits--body">

        <div class="benefits--card">
          <img class="benefits--card-image" src="/img/icon_medal.png" alt="Ícone ilustrativo">
          <div class="benefits--card-body">
            <div class="benefits--card-header card-header">O único restaurante nota máxima do estado</div>
            <div class="benefits--card-message">Nós temos muito orgulho de sermos o único restaurante 3 estrelas Michelin do estado e nos esforçamos ao máximo para oferecer uma experiência gastronômica única.</div>
          </div>
        </div>

        <div class="benefits--card">
          <img class="benefits--card-image" src="/img/icon_glint.png" alt="Ícone ilustrativo">
          <div class="benefits--card-body">
            <div class="benefits--card-header card-header">A experiência de comer no Mama Shiva é única</div>
            <div class="benefits--card-message">Nós temos muito orgulho de sermos o único restaurante 3 estrelas Michelin do estado e nos esforçamos ao máximo para oferecer uma experiência gastronômica única.</div>
          </div>
        </div>

        <div class="benefits--card">
          <img class="benefits--card-image" src="/img/icon_food_cover.png" alt="Ícone ilustrativo">
          <div class="benefits--card-body">
            <div class="benefits--card-header card-header">Nosso cardápio atende a todos os públicos</div>
            <div class="benefits--card-message">Nós temos muito orgulho de sermos o único restaurante 3 estrelas Michelin do estado e nos esforçamos ao máximo para oferecer uma experiência gastronômica única.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="benefits--images">
      <img class="benefits--image" src="/img/indian_food_1.png" alt="Um prato de comida indiana">
      <img class="benefits--image" src="/img/woman_eating.png" alt="Uma mulher feliz comendo">
    </div>
  </div>

  <div class="features section">
    <div class="features--header section-header">Como trabalhamos</div>
    <div class="features--body">

      <div class="features--card">
        <img class="features--card-image" src="/img/features_organic.png" alt="Vários legumes e verduras orgânicos">
        <div class="features--card-header card-header">Produtos frescos e orgânicos</div>
        <div class="features--card-message">Trabalhamos com ingredientes frescos e orgânicos para garantir a qualidade e sabor dos nossos pratos.</div>
      </div>

      <div class="features--card">
        <img class="features--card-image" src="/img/features_love.png" alt="Vários legumes e verduras orgânicos">
        <div class="features--card-header card-header">Paixão pela cozinha</div>
        <div class="features--card-message">Nós somos um casal apaixonado pela culinária, que decidiu unir nossas origens e amor pela comida em um restaurante de fusão.</div>
      </div>

      <div class="features--card">
        <img class="features--card-image" src="/img/features_tradition.png" alt="Vários legumes e verduras orgânicos">
        <div class="features--card-header card-header">Produtos frescos e orgânicos</div>
        <div class="features--card-message">Trabalhamos com ingredientes frescos e orgânicos para garantir a qualidade e sabor dos nossos pratos.</div>
      </div>

    </div>
  </div>

  <div class="partners section-padded">
    <div class="partners--header section-header">Nossos parceiros incluem</div>
    <div class="partners--body">
      <img src="/img/logo_friendlys.svg" alt="Logomarca Friendly's">
      <img src="/img/logo_michelin.svg" alt="Logomarca Michelin">
      <img src="/img/logo_pavilion.svg" alt="Logomarca Food Pavilion">
    </div>
  </div>

  <div class="menu section">
    <div class="menu--header section-header">Cardápio</div>
    <div class="menu--navbar">
      <div class="menu--navbar-item" data-active="false">Entradas<img src="/img/icon_dropdown.svg" alt="Ícone de dropdown"></div>
      <div class="menu--navbar-item" data-active="true">Pratos principais<img src="/img/icon_dropdown.svg" alt="Ícone de dropdown"></div>
      <div class="menu--navbar-item" data-active="false">Sobremesas<img src="/img/icon_dropdown.svg" alt="Ícone de dropdown"></div>
      <div class="menu--navbar-item" data-active="false">Bebidas<img src="/img/icon_dropdown.svg" alt="Ícone de dropdown"></div>
    </div>
    <ul class="menu--body">
      <li class="menu--item">
        <div class="menu--item-header">Bruschetta de tomate e chutney de manga</div>
        <div class="menu--item-message">Uma torrada de pão italiano com tomate fresco picado e um chutney de manga indiano, finalizado com um toque de azeite e manjericão.</div>
      </li>

      <li class="menu--item">
        <div class="menu--item-header">Caponata indiana</div>
        <div class="menu--item-message">Uma variação da caponata italiana com berinjela, cebola, pimentão e tomate, temperada com especiarias indianas e servida com pão naan.</div>
      </li>

      <li class="menu--item">
        <div class="menu--item-header">Samosa de queijo brie com geleia de pimenta</div>
        <div class="menu--item-message">Uma samosa indiana recheada com queijo brie derretido e servida com uma geleia de pimenta doce e picante.</div>
      </li>

      <li class="menu--item">
        <div class="menu--item-header">Ceviche de camarão com manga</div>
        <div class="menu--item-message">Um ceviche peruano com camarões frescos, manga picada, cebola roxa e coentro, finalizado com um toque de azeite de oliva.</div>
      </li>

      <li class="menu--item">
        <div class="menu--item-header">Tikka de frango com tomate e manjericão</div>
        <div class="menu--item-message">Um prato indiano de frango marinado em iogurte e especiarias, grelhado na brasa e servido com um molho de tomate e manjericão italiano.</div>
      </li>

      <li class="menu--item">
        <div class="menu--item-header">Naan com tapenade de azeitona</div>
        <div class="menu--item-message">Pão naan indiano servido com uma tapenade de azeitona italiana (uma pasta de azeitonas pretas, anchovas, alcaparras, alho e azeite de oliva).</div>
      </li>
    </ul>

    <div class="menu--slider">
      1/4
      <img src="/img/icon_next.svg" alt="Ícone de avançar">
    </div>
  </div>

  <div class="critics section-padded">
    <div class="critics--header section-header">O que dizem</div>
    <div class="critics--clients">
      <div class="critics--clients-header">Nossos clientes</div>
      <div class="critics--clients-body">
        <div class="critics--card">
          <img src="/img/client1.png" alt="Foto da cliente" class="critics--card-image">
          <div class="critics--card-header">Numanice Costa</div>
          <div class="critics--card-stars">
            <img src="/img/icon_star.png" alt="Uma estrela amarela">
            <img src="/img/icon_star.png" alt="Uma estrela amarela">
            <img src="/img/icon_star.png" alt="Uma estrela amarela">
            <img src="/img/icon_star.png" alt="Uma estrela amarela">
            <img src="/img/icon_star.png" alt="Uma estrela amarela">
          </div>
          <div class="critics--card-message">“O Mama Shiva é um verdadeiro tesouro da culinária, uma mistura única de sabores que faz minha boca explodir de felicidade!”</div>
          <div class="critics--card-slider">
            <span data-active="false"></span>
            <span data-active="false"></span>
            <span data-active="true"></span>
            <span data-active="false"></span>
            <span data-active="false"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="critics--reviewers">
      <div class="critics--reviewers-header">Os avaliadores</div>
      <div class="critics--reviewers-body">
        <div class="critics--card">
          <img src="/img/reviewer1.png" alt="Foto da avaliadora" class="critics--card-image">
          <div class="critics--card-header">Isabela Freitas</div>
          <div class="critics--card-sub-header">Gastronomia em Foco</div>
          <div class="critics--card-stars">
            <img src="/img/icon_star.png" alt="Uma estrela amarela">
            <img src="/img/icon_star.png" alt="Uma estrela amarela">
            <img src="/img/icon_star.png" alt="Uma estrela amarela">
            <img src="/img/icon_star.png" alt="Uma estrela amarela">
            <img src="/img/icon_star.png" alt="Uma estrela amarela">
          </div>
          <div class="critics--card-message">“O Mama Shiva é um grandiosíssimo achado na cena gastronômica atual. Com sua combinação única de sabores italianos e indianos, o restaurante oferece uma experiência gastronômica inesquecível.”</div>
          <div class="critics--card-slider">
            <span data-active="false"></span>
            <span data-active="false"></span>
            <span data-active="true"></span>
            <span data-active="false"></span>
            <span data-active="false"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="informations section">
    <div class="informations--header section-header">
      Informações
    </div>
    <div class="informations--body">
      <ul class="informations--main">
        <li class="informations--card">
          <div class="informations--card-header">Onde fica o restaurante?</div>
          <div class="informations--card-message">Rua das Acácias, 123 | Bairro Jardim das Flores, Recife - PE</div>
          <div class="informations--card-cta">Veja no mapa</div>
        </li>

        <li class="informations--card">
          <div class="informations--card-header">Qual o horário de funcionamento?</div>
          <div class="informations--card-message">Nós estamos abertos de terça a domingo, das 18h às 23h.</div>
          <div class="informations--card-cta">Faça sua reserva</div>
        </li>

        <li class="informations--card">
          <div class="informations--card-header">Como entro em contato?</div>
          <div class="informations--card-message">Você pode entrar em contato conosco pelo telefone (XX) XXXX-XXXX ou enviar um e-mail para contato@mamashiva.com.</div>
          <div class="informations--card-cta"><span>Ligue agora</span> ou <span>envie um email</span></div>
        </li>
      </ul>
    </div>
    <div class="informations--faq">
      <div class="informations--faq-header">Perguntas frequentes</div>
      <ul class="informations--faq-body">
        <li class="informations--faq-card">
          <div class="informations--faq-card-header">É preciso fazer uma reserva?</div>
          <div class="informations--faq-card-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eligendi?</div>
        </li>
        <li class="informations--faq-card">
          <div class="informations--faq-card-header">Vocês têm cardápio vegano / sem glúten?</div>
          <div class="informations--faq-card-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eligendi?</div>
        </li>
        <li class="informations--faq-card">
          <div class="informations--faq-card-header">Vocês oferecem serviço de delivery?</div>
          <div class="informations--faq-card-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eligendi?</div>
        </li>
        <li class="informations--faq-card">
          <div class="informations--faq-card-header">Vocês têm estacionamento no local?</div>
          <div class="informations--faq-card-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eligendi?</div>
        </li>
        <li class="informations--faq-card">
          <div class="informations--faq-card-header">É possível fazer reservas para grupos grandes?</div>
          <div class="informations--faq-card-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eligendi?</div>
        </li>
      </ul>
    </div>
  </div>
  </div>

  <div class="booking section-padded">
    <div class="booking--header">Faça sua reserva</div>
    <form class="booking--body">
      <label for="nome_completo">Nome completo</label>
      <input type="text">
      <label for="nome_completo">CPF</label>
      <input type="text">
      <label for="nome_completo">Telefone</label>
      <input type="text">
      <label for="nome_completo">Email</label>
      <input type="text">
      <label for="nome_completo">Data da reserva</label>
      <input type="text">
      <label for="nome_completo">Hora da reserva</label>
      <input type="text">
      <label for="nome_completo">N° de pessoas</label>
      <input type="text">
      <label for="nome_completo">Observação</label>
      <textarea></textarea>

      <div class="booking--terms">Para prosseguir com a reserva, por favor, <span>leia e aceite nossos termos e condições.</span></div>

      <button type="submit">Confirmar reserva</button>
    </form>
  </div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ipsum illum veritatis sapiente nesciunt officia architecto molestias provident. Dolorem, ad! Voluptate laudantium, ipsum laboriosam illum vero, numquam voluptatum vitae reprehenderit blanditiis aspernatur nobis doloribus quos dignissimos mollitia perspiciatis maxime omnis possimus molestiae sequi iusto pariatur magni. Sed, maxime alias. Eveniet labore nemo rem eaque, quas, commodi officia atque esse vel cupiditate molestiae? Provident deleniti aliquid laborum delectus quas quisquam eum et molestiae sed dolorum harum perferendis laudantium ea quibusdam debitis eveniet minus, nesciunt recusandae quam! Minus, placeat in eius voluptatem illo velit doloribus veniam accusantium fugit, saepe laboriosam debitis aperiam sequi dignissimos soluta odio labore earum fugiat. Ipsa quos architecto, eum, ea aut alias minus dolor aliquid hic officiis ullam saepe magni atque recusandae, sequi quo quia ipsum debitis fugiat. Praesentium iste tempora a alias laborum, fugiat cupiditate ipsa nesciunt corrupti voluptatem porro recusandae. Autem itaque unde, aspernatur atque, non libero illo ut cumque adipisci nisi quo obcaecati provident assumenda consequatur laborum velit minima est! Ea, veniam? Impedit iste modi accusantium amet, sit nulla esse neque rerum autem, deserunt beatae. Id voluptatum nihil praesentium enim sit perferendis assumenda aliquam corporis explicabo velit. Commodi quisquam rerum impedit dignissimos harum. Quia voluptatum, eos quibusdam ea porro distinctio accusamus, deleniti vitae repudiandae ab voluptates illo, doloremque quos quasi dicta expedita facere dolorem fuga dolores et quisquam placeat nulla! Soluta sed non adipisci veniam sunt libero suscipit similique cupiditate earum voluptates culpa eaque, accusantium consectetur amet tenetur, odit consequatur, repellat maxime. Quo totam vero autem repellendus eligendi? Praesentium possimus dolorem, rerum, fuga natus assumenda repudiandae magni dolorum perferendis esse magnam voluptate necessitatibus commodi harum. Omnis consequatur perspiciatis est dolore et quia sed beatae laudantium, tempore repellat accusamus? Cum molestiae eos numquam. Exercitationem error minima, perferendis beatae cumque maxime vero inventore accusantium rerum nobis laboriosam.

</body>

</html>