<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mama Shiva</title>

    <% for (var i = 0; i < cssList.length; i++) { %>
      <link rel="stylesheet" href="<%= cssList[i] %>">
    <% } %>
    
  </head>
  <body>
    <div class="navbar grid-col-12">
      <img class="navbar--logo" src="/img/logo.svg" alt="" srcset="">
    </div>
  </body>
</html>
