:root {
  /* Definição das cores */
  --col-brown: #352005;
  --col-red-100: #a12015;
  --col-red-200: #61140d;
  --col-green-100: #198642;
  --col-green-200: #136733;
  --col-green-300: #0e4724;
  --col-yellow-100: #ff9933;
  --col-white: #ffffff;

  /* Definição das fontes */
  --font-main: "Crimson Text", "Times New Roman", Times, serif;
  --font-read: "Crimson Pro", "Times New Roman", Times, serif;

  /* Definição do espaçamento padrao */
  --padding-1: 4rem;
  --margin-1: 4rem;
  --gap-1: 2em;
  --gap-2: calc(2 * var(--gap-1));
  --gap-3: calc(3 * var(--gap-1));
}

.container {
  display: flex;
  padding: var(--padding-1);
}

.container-margin {
  display: flex;
  padding: var(--padding-1);
  margin: var(--margin-1);
}

.text-bold {
  font-weight: bold;
}
